@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-gray: #737373;
}
.btn{
    background-color: #d9d9d9;
}
.navbar {
 background-color: var(--primary-gray);
 min-height: 6em;
}
.nav-logo{
    width: 5em;
    height: 5.5em;
    flex-shrink: 0;
    border-radius: 10px;
}

#logo{
    width: 5em;
    height: 4em;
    flex-shrink: 0;
    position: absolute;
    top: 0.7em;
    left: 0.8em;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    position: absolute;
    top: 1.6em;
    
}

ul li{
    font-size: 1.2em;
    letter-spacing: 3px;
}

ul li:nth-child(1){
    color: #fff;
}

ul li:nth-child(2){
    color: orange;
}
.nav-search{
    height: 2em;
    border-radius: 5px;
    background: #fff;
    border-style: none;
}

.nav-search::placeholder{
    color: #000;
    padding: 1em;
} 
.searchBtn{
    width: 2.5em;
    height: 2em;
    background: #fff;
    border-radius: 5px;
    border-style: none;
    color: #000;
    cursor: pointer;
    transition: .3s ease;
}

.searchBtn:hover{
    background: rgba(255, 255, 255, 0.3);
}
.btn{
    background-color: #d9d9d9;
}
.nav-button .btn{
    width: 8.2em;
    height: 2em;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.875);
}
.d-flex{
    width: 20em;
    position: absolute;
    top: 2em;
    left: 30em;
}
.d-flex .btn-search{
    border:none;
    height: 2.5em;
    border-radius: 5px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0.02em;
    left: 21em;
}
.btn-admin{
    font-size: large;
    position: relative;
    right: -55em;
}
#btn-relate{
    position: absolute;
    top: 43.65em;
    left: -13.4em;
}
/* column1 */
.recommend{
    position: absolute;
    top: 9em;
    left: 5em;
    font-weight: 700;
    font-size: 15px;
}
.img-relate1{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top: 40em;
    left: 2.5em;
}
.relate1 p{
    position: relative;
    top: 53em;
    left: 4.5em;
}
.img-relate2{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:40em;
    left: 21em;
}
.relate2 p{
    position: relative;
    top: 50.5em;
    left: 23em;
}
.img-relate3{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:40em;
    left: 38.5em;
}
.relate3 p{
    position: relative;
    top: 48em;
    left: 40.3em;
}
.img-relate4{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:40em;
    left: 56.5em;
}
.relate4 p{
    position: relative;
    top: 45.5em;
    left: 58.3em;
}
/* column 2 */
.new{
    position: absolute;
    top: 63em;
    left: 2.5em;
    font-size: 15px;
    font-weight: 700;
}
.img-relates1{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top: 63em;
    left: 2.5em;
}
.relates1 p{
    position: relative;
    top: 64.5em;
    left: 4.2em;
}
.img-relates2{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:63em;
    left: 21em;
}
.relates2 p{
    position: relative;
    top: 62em;
    left: 23em;
}
.img-relates3{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:63em;
    left: 38.5em;
}
.relates3 p{
    position: relative;
    top: 59.5em;
    left: 40.2em;
}
.img-relates4{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top: 63em;
    left: 56.5em;
}
.relates4 p{
    position: relative;
    top: 57em;
    left: 58.5em;
}
/* column 3*/
.popular{
    position: absolute;
    top: 86.5em;
    left: 2.5em;
    font-size: 15px;
    font-weight: 700;
}
.img-relatess1{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top: 85em;
    left: 2.5em;
}
.relatess1 p{
    position: relative;
    top: 75em;
    left: 4.2em;
}
.img-relatess2{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:85em;
    left: 21em;
}
.relatess2 p{
    position: relative;
    top: 72.5em;
    left: 23em;
}
.img-relatess3{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:85em;
    left: 38.5em;
}
.relatess3 p{
    position: relative;
    top: 70em;
    left: 40.5em;
}
.img-relatess4{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top: 85em;
    left: 56.5em;
}
.relatess4 p{
    position: relative;
    top: 67.5em;
    left: 58.5em;
}