@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-gray: #737373;
}
.btn{
    background-color: #d9d9d9;
}
.navbar {
 background-color: var(--primary-gray);
 min-height: 6em;
}
.nav-logo{
    width: 5em;
    height: 5.5em;
    flex-shrink: 0;
    border-radius: 10px;
}

#logo{
    width: 5em;
    height: 4em;
    flex-shrink: 0;
    position: absolute;
    top: 0.7em;
    left: 0.8em;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    position: absolute;
    top: 1.6em;
    
}

ul li{
    font-size: 1.2em;
    letter-spacing: 3px;
}

ul li:nth-child(1){
    color: #fff;
}

ul li:nth-child(2){
    color: orange;
}
.nav-search{
    height: 2em;
    border-radius: 5px;
    background: #fff;
    border-style: none;
}

.nav-search::placeholder{
    color: #000;
    padding: 1em;
} 
.searchBtn{
    width: 2.5em;
    height: 2em;
    background: #fff;
    border-radius: 5px;
    border-style: none;
    color: #000;
    cursor: pointer;
    transition: .3s ease;
}

.searchBtn:hover{
    background: rgba(255, 255, 255, 0.3);
}
.btn{
    background-color: #d9d9d9;
}
.nav-button .btn{
    width: 8.2em;
    height: 2em;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.875);
}
.d-flex{
    width: 20em;
    position: absolute;
    top: 2em;
    left: 30em;
}
.d-flex .btn-search{
    border:none;
    height: 2.5em;
    border-radius: 5px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0.02em;
    left: 21em;
}

.btn-sigin{
    border-radius: 5px;
    background-color: #d9d9d9;
    position: absolute;
    top: 2em;
    left: 63em;
}
.btn-sigup{
    width: 5.5em;
    border-radius: 5px;
    background-color: #d9d9d9;
    position: absolute;
    top: 2em;
    left: 69em;
}
.btn-all{
    background-color: #d9d9d9;
    height: 3.5em;
    /* width: 100em; */
    position: absolute;
    top: 6.5em;
    left: -1em;
    text-align: center;
    text-decoration: none;
    border: none;
}
.span-chapter{
    font-size: large;
    /* font-style: bold; */
    position: absolute;
    top: 0.7em;
    left: 5.3em;
    border-radius: 5px;
    transition: black 0.3s;
}
.span-chapter:active{
    color: black;
    transform: scale(0.98);
}
.span-category{
    font-size: large;
    position: absolute;
    top: 0.7em;
    left: 14.3em;
    border-radius: 5px;

}
.span-category:active{
    color: black;
    transform: scale(0.98);
}
.span-list{
    font-size: large;
    position: absolute;
    top: 0.7em;
    left: 23.3em;
    border-radius: 5px;
}
.span-list:active{
    color: black;
    transform: scale(0.98);
}
.span-hot{
    font-size: large;
    position: absolute;
    top: 0.7em;
    left: 30em;
    border-radius: 5px;
}
.span-hot:active{
    color: black;
    transform: scale(0.98);
}
.span-history{
    font-size: large;
    position: absolute;
    top: 0.7em;
    left: 38em;
    border-radius: 5px;
}
.span-history:active{
    color: black;
    transform: scale(0.98);
}
.span-fanpage{
    font-size: large;
    position: absolute;
    top: 0.7em;
    left: 49em;
    border-radius: 5px;
}
.span-fanpage:active{
    color: black;
    transform: scale(0.98);
}
#btn-relate{
    position: absolute;
    top: 43.65em;
    left: -13.4em;
}
.img-relate1{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top: 42em;
    left: 2.5em;
}
.relate1 p{
    position: relative;
    top: 55em;
    left: 4.5em;
}
.img-relate2{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:42em;
    left: 21em;
}
.relate2 p{
    position: relative;
    top: 52.5em;
    left: 23em;
}
.img-relate3{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:42em;
    left: 38.5em;
}
.relate3 p{
    position: relative;
    top: 50em;
    left: 40.3em;
}
.img-relate4{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:42em;
    left: 56.5em;
}
.relate4 p{
    position: relative;
    top: 48em;
    left: 59em;
}
/* class2 */
.img-relates1{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top: 63em;
    left: 2.5em;
}
.relates1 p{
    position: relative;
    top: 66em;
    left: 4.2em;
}
.img-relates2{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:63em;
    left: 21em;
}
.relates2 p{
    position: relative;
    top: 63.5em;
    left: 23em;
}
.img-relates3{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top:63em;
    left: 38.5em;
}
.relates3 p{
    position: relative;
    top: 61em;
    left: 40.5em;
}
.img-relates4{
    width: 14em;
    height: 16em;
    border-radius: 5px;
    position: absolute;
    top: 63em;
    left: 56.5em;
}
.relates4 p{
    position: relative;
    top: 58.5em;
    left: 58.5em;
}